
body {
 padding: 10px;
}


a.button {
 border: 1px solid #e88031;
 padding: 8px 16px;
 text-decoration: none;
 background-color: blue;
 font-family: arial;
 color: #fff;
 font-weight: bold;
background-image: linear-gradient(bottom, #E6641E 62%, #EBD1C3 100%, #E6641E 85%);
background-image: -o-linear-gradient(bottom, #E6641E 62%, #EBD1C3 100%, #E6641E 85%);
background-image: -moz-linear-gradient(bottom, #E6641E 62%, #EBD1C3 100%, #E6641E 85%);
background-image: -webkit-linear-gradient(bottom, #E6641E 62%, #EBD1C3 100%, #E6641E 85%);
background-image: -ms-linear-gradient(bottom, #E6641E 62%, #EBD1C3 100%, #E6641E 85%);

background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.62, #E6641E),
	color-stop(1, #EBD1C3),
	color-stop(0.85, #E6641E)
);
 border-radius: 5px;
}

a.button:hover {
 background-image: linear-gradient(bottom, #E36A19 53%);
background-image: -o-linear-gradient(bottom, #E36A19 53%);
background-image: -moz-linear-gradient(bottom, #E36A19 53%);
background-image: -webkit-linear-gradient(bottom, #E36A19 53%);
background-image: -ms-linear-gradient(bottom, #E36A19 53%);

background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.53, #E36A19)
);
}

